# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common libararies for Data Science
- Table of common Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. SciPy
3. Numpy

|Data Science Tools |
| ----------------- |
| RStudio |
| Apache Spark |
| TensorFlow   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print(x)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = 60
z = x/y
print(z)

3.3333333333333335

## Author
Darsh Lalwani